﻿@{
    ViewData["Title"] = "Доступ заборонений";
}

<br />
<div class="text-center">
    <h1><div class="text-danger">Доступ заборонений</div></h1>
    <div class="text-danger">Ви не маєте дозволу на доступ до цієї сторінки</div>
    <br />
    <a href="javascript:history.back()" class="btn btn-dark">Повернутися назад</a>
</div>