@model MusicServiceInfrastructure.ViewModel.RegisterViewModel
<br />
<h3>Реєстрація нового користувача</h3>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirm" class="form-label"></label>
        <input asp-for="PasswordConfirm" class="form-control">
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    </div>
    <br />
    <div>
        <button type="submit" class="btn btn-dark">Реєстрація</button>
    </div>
</form>