﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<MusicServiceDomain.Model.User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicBox</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_state.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicServiceInfrastructure.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap">
    <style>
        .btn-custom {
            color: #fff;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">MusicBox</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Songs" asp-action="Index">Пісні</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("admin") || User.IsInRole("user")))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Artists" asp-action="Index">Виконавці</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Genres" asp-action="Index">Жанри</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Lyrics" asp-action="Index">Тексти</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Albums" asp-action="Index">Альбоми</a>
                            </li>
                        }
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Roles" asp-action="Index">Управління ролями</a>
                            </li>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="button" class="btn btn-custom">@User.Identity.Name</button>

                        <form method="post" asp-controller="Account" asp-action="Logout" class="d-flex">
                            <button type="submit" class="btn btn-dark">Вихід</button>
                        </form>
                    }
                    else
                    {
                        <div class="d-flex">
                            <form method="get" asp-controller="Account" asp-action="Login" class="me-2">
                                <button type="submit" class="btn btn-dark">Вхід</button>
                            </form>
                            <form method="get" asp-controller="Account" asp-action="Register">
                                <button type="submit" class="btn btn-outline-dark">Реєстрація</button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2024 - ЮРЕВИЧ АННА
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>