@model MusicServiceDomain.Model.Lyric

@{
    ViewData["Title"] = "Створити";
}

<br />
<h1>Створити</h1>

<h4>Текст</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control" rows="3"></textarea>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-outline-dark">Повернутися до списку</a>
            </div>
        </form>
    </div>
</div>
<br />
@if (!ViewData.ModelState.IsValid)
{
        <div class="alert alert-danger">
        @foreach (var modelState in ViewData.ModelState.Values)
        {
            foreach (var error in modelState.Errors)
            {
                @error.ErrorMessage
                            <br />
            }
        }
        </div>
}