@model MusicServiceDomain.Model.Lyric

@{
    ViewData["Title"] = "Докладніше";
}
<br />
<h1>Докладніше</h1>

<div>
    <h4>Текст</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Редагувати</a> |
    <a asp-action="Index" class="btn btn-outline-dark">Повернутися до списку</a>
</div>