@model MusicServiceDomain.Model.Lyric

@{
    ViewData["Title"] = "Редагувати";
}
<br />
<h1>Редагувати</h1>

<h4>Текст</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control" rows="3"></textarea>
            </div>
            <br />
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Зберегти" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-outline-dark">Повернутися до списку</a>
            </div>
        </form>
    </div>
</div>