@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<br />
<h2>Список ролей</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
        </tr>
    }
</table>
<a asp-action="UserList" class="btn btn-dark">Список користувачів</a>